<html>

  <head>
    <title>Word Bucket</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>

<body>
  <div class="container">

     <h1>Word Bucket</h1>
       
       <br>browse<br>
            <% for( var i = 0; i < alphabets.length; i++ ) { %>
                <a href="/search/<%= alphabets[i] %>"><%= alphabets[i] %></a>&nbsp;
            <% } %>
       <br>

       <h4><%= message %></h4>
       <form action ="/addword" id="form1" method="POST">  
           <input name="word_input" id="id_new_word" placeholder="Add new word" />  
           <input name="explanation_input" id="id_new_eplanation" placeholder="Add explanation" />  
       </form>
       <button type="submit" form="form1" value="Submit">Submit</button>

        
       <table id="id_word_table">
            <% for( var i = word.length-5; i < word.length; i++){ %>
                <tr><td id="word.word"><a href="/word/<%= id[i] %>"><%= word[i] %></a></td></tr>
            <% } %>
        </table>
        <br>
      
        <form action ="/search/byword" id="form2" method="POST">  
           <input name="search_input" id="id_search" placeholder="Search word" />
       </form>
       <button type="submit" form="form2" value="Submit">Submit</button>

</div>

</body>
</html>
